*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  
}
body{
    margin: 50px;
    height: 50vh;
    width: 40vw;
 
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background-color: black;
    
    color: azure;
}
h1{
    font-size: 56px;
    text-transform: capitalize;
    font-weight: 900;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
    

.count{
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.count input{
    text-transform: capitalize;
    color: rgba(0, 0, 0, 0.959);
    font-size: 23px;
    font-weight: 600;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
button{
    font-size: 23px;
    font-weight: 600;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 180px;
    margin: 30px;
    padding-left: 5px;
    padding-right: 5px;
    

}
