*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  
}
body{
    margin: 20px;
    height: 100%;

 
 
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    background-color: black;
    
    color: azure;
}
h1{
    font-size: 56px;
    text-transform: capitalize;
    font-weight: 900;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-bottom-style: dotted;
}
    

.count{
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.count input{
    /* text-transform: capitalize; */
    color: rgba(0, 0, 0, 0.959);
    font-size: 23px;
    font-weight: 600;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(126, 206, 206);
    border-radius: 12px;
}
button{
    font-size: 23px;
    font-weight: 600;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 180px;
    margin: 30px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: rgba(189, 234, 219, 0.91);
    cursor: pointer;


}
.img-container{
    height: 50%;
    display: grid;
    height: 90vh;
    width: 90vw;

    grid-template-columns: repeat(5,1fr);
    grid-column-gap: 5%;
    grid-row-gap: 2%;
}
